body{
color: blue;
background-color: pink;
}

#headText{
color: black;
text-align: center;

}

#wrapperDiv{
width: 700px;
height: 1300px;
background-color: black;
margin: auto;
}

#headerDiv{
width: 700px;
height: 100px;
border: solid black 3px;
background-color: hotpink;
margin: auto;
}
#navDiv{
width: 700px;
height: 40px;
border: solid black 3px;
background-color: black;
margin: auto;
}
#bodyDiv{
width: 700px;
height: 1060px;
border: solid black 3px;
background-color: silver;
margin: auto;
}
#footerDiv{
width: 700px;
height: 100px;
background-color: hotpink;
border: solid black 3px;
margin: auto;
}

#paragraphText{
  font-size: 20px;
  text-align: center;
}

#pTextTwo{
  font-size: 20px;
  text-align: center;
  color:#660066;
  font-weight: bold;
}
#travelText{
  font-size: 30px;
  text-align: center;
  color: #660066;
}
.buttonDiv{
width: 60px;
height: 10px;
background-color: white;
margin: 5px;
padding: 12px;
margin-left:40px;
float: left;
text-align: center;
color: #cc00cc;
font-weight: bold;
}
.bodyP{
color: black;
text-align: center;


}
